.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 15px;
}

h1, h2, h3 {
    font-family: 'Bangers', fantasy;
}
