.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-family: 'Lobster', serif;
    font-size: 36pt;
    text-decoration: none;
}

.paragraph {
    padding-left: 40px;
}

.post {
    color: #4f4f4f;
    padding-left: 40px;
}

.post_content {
    padding-left: 50px;
}

h1, h2, h3, h4 {
    padding-left: 20px;
    font-family: 'Lobster', fantasy;
}

li a {
    color: #C25100;
}